<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/compra.css">
    <title>Dream Street</title>
</head>

<body>
    <div class="background">
        <header>
            <div class="logo">
                <img src="/img/Dreamlogo.png" alt="Logo da Loja">
            </div>
            <!--logo-->

            <div class="cabeçalho-link">
                <li>
                    <a href="/">Inicio</a>
                </li>
                <li>
                    <a href="#">Destaque</a>
                </li>
                <li>
                    <a href="#">Novo</a>
                </li>
                <li>
                    <a href="#">Contato</a>
                </li>
            </div>
            <!--cabeçalho-link-->
            <!--icon-->
            <div class="icon">
                <a href="/carrinho"><span>
                        <ion-icon name="bag-outline"></ion-icon>
                    </span></a>
            </div>
            <div class="icon2">
                <a href="/cadastro"><span>
                        <ion-icon name="person-circle-outline"></ion-icon>
                    </span></a>
            </div>
        </header>

        <div class="banner">
            <img src="/img/background.png" alt="Banner">
        </div>
        </header>

        <h1 class="compra">CATEGORIAS</h1>

        <div class="Container-roupas">
            <div class="roupa">
                <img src="/img/blusaanti.jpg" alt="">
                <p>Blusa ANTI-SOCIAL</p>
                <h5>R$99,90</h5>
            </div>
            <!--roupa-->


            <div class="roupa">
                <img src="/img/cargo1.jpg" alt="">
                <p>Calça Cargo</p>
                <h5>R$80</h5>
            </div>
            <!--roupa-->

            <div class="roupa">
                <img src="/img/brinco1.jpg" alt="">
                <p>Brinco Pena</p>
                <h5>R$39,99</h5>
            </div>
            <!--roupa-->

            <div class="roupa">
                <img src="/img/colar1.jpg" alt="">
                <p>Colar Coração</p>
                <h5>R$68,90</h5>
            </div>
            <!--roupa-->
        </div>
        <!--container-roupas-->

        <div class="Container-roupas1">
            <div class="roupa">
                <img src="/img/blusaanti.jpg" alt="">
                <p>Blusa ANTI-SOCIAL</p>
                <h5>R$99,90</h5>
            </div>
            <!--roupa-->


            <div class="roupa">
                <img src="/img/cargo1.jpg" alt="">
                <p>Calça Cargo</p>
                <h5>R$80</h5>
            </div>
            <!--roupa-->

            <div class="roupa">
                <img src="/img/brinco1.jpg" alt="">
                <p>Brinco Pena</p>
                <h5>R$39,99</h5>
            </div>
            <!--roupa-->

            <div class="roupa">
                <img src="/img/colar1.jpg" alt="">
                <p>Colar Coração</p>
                <h5>R$68,90</h5>
            </div>
            <!--roupa-->
        </div>
        <!--container-roupas-->

        <div class="Container-roupas2">
            <div class="roupa">
                <img src="/img/blusaanti.jpg" alt="">
                <p>Blusa ANTI-SOCIAL</p>
                <h5>R$99,90</h5>
            </div>
            <!--roupa-->


            <div class="roupa">
                <img src="/img/cargo1.jpg" alt="">
                <p>Calça Cargo</p>
                <h5>R$80</h5>
            </div>
            <!--roupa-->

            <div class="roupa">
                <img src="/img/brinco1.jpg" alt="">
                <p>Brinco Pena</p>
                <h5>R$39,99</h5>
            </div>
            <!--roupa-->

            <div class="roupa">
                <img src="/img/colar1.jpg" alt="">
                <p>Colar Coração</p>
                <h5>R$68,90</h5>
            </div>
            <!--roupa-->
        </div>
        <!--container-roupas-->

        <div class="Container-roupas3">
            <div class="roupa">
                <img src="/img/blusaanti.jpg" alt="">
                <p>Blusa ANTI-SOCIAL</p>
                <h5>R$99,90</h5>
            </div>
            <!--roupa-->


            <div class="roupa">
                <img src="/img/cargo1.jpg" alt="">
                <p>Calça Cargo</p>
                <h5>R$80</h5>
            </div>
            <!--roupa-->

            <div class="roupa">
                <img src="/img/brinco1.jpg" alt="">
                <p>Brinco Pena</p>
                <h5>R$39,99</h5>
            </div>
            <!--roupa-->

            <div class="roupa">
                <img src="/img/colar1.jpg" alt="">
                <p>Colar Coração</p>
                <h5>R$68,90</h5>
            </div>
            <!--roupa-->
        </div>
        <!--container-roupas-->

        </section>

        <footer class="Contato" id="Contato">
            <div class="meio-contato">
                <h3>Dream Street</h3>
                <h5>Nós envie uma mensagem</h5>
                <div class="icons">
                    <a href="#"><i class='bx bxl-facebook-square'></i></a>
                    <a href="#"><i class='bx bxl-instagram-alt'></i></a>
                    <a href="#"><i class='bx bxl-twitter'></i></a>
                </div>
            </div>

            <div class="meio-contato">
                <h3>Explorar</h3>
                <li><a href="#Lar">Lar</a></li>
                <li><a href="#featured">Destaque</a></li>
                <li><a href="#Novo">Novo</a></li>
                <li><a href="#Contato">Contato</a></li>
            </div>

            <div class="meio-contato">
                <h3>Nossos Serviços</h3>
                <li><a href="/">Pricing</a></li>
                <li><a href="#">Frete Grátis</a></li>
                <li><a href="#">Cartões-presente</a></li>
            </div>

            <div class="meio-contato">
                <h3>Compras</h3>
                <li><a href="#">Loja de Roupas</a></li>
                <li><a href="#">Camisas em altas</a></li>
                <li><a href="#">Acessórioss</a></li>
                <li><a href="#">Venda</a></li>
            </div>

        </footer>

        <div class="last-text">
            <p>Copyright © 2022 All rights reserved | This template is made with by Tahmid Ahmed</p>
        </div>

        <script src="https://unpkg.com/scrollreveal"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script src="js/script.js"></script>
</body>

</html>

</body>

</html>