<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Dream Street </title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="/img/Dreamlogo.png" alt="Logo da Loja">
        </div>
        <!--logo-->

        <div class="cabeçalho-link">
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="#">Destaque</a>
            </li>
            <li>
                <a href="#">Novo</a>
            </li>
            <li>
                <a href="#">Contato</a>
            </li>
        </div>
        <!--cabeçalho-link-->
        <!--icon-->
        <div class="icon">
            <a href="/carrinho de compra/carrinho.html"><span>
                    <ion-icon name="bag-outline"></ion-icon>
                </span></a>
        </div>
        <% if (typeof usuario !=="undefined") { %>
            <h1>Bem-vindo, <%= usuario.email %>!</h1>
            <form action="/logout" method="POST">
                <input type="submit" value="Sair">
            </form>
        <% } else { %>
            <div class="icon2">
                <a href="/cadastro"><span>
                        <ion-icon name="person-circle-outline"></ion-icon>
                    </span></a>
            </div>
        <% } %>
        
    </header>

    <div class="banner">
        <img src="/img/background.png" alt="Banner">
    </div>

    <section>
        <h1><i>CATEGORIAS</i></h1>
        <div class="Container-card-1">
            <div class="cards">
                <img src="/img/camisa.jpg">
            </div>
            <!--cards-->

            <div class="cards">
                <img src="/img/blusa.jpg">
            </div>
            <!--cards-->
        </div>
        <!--Container-card-1-->

        <div class="Container-card-1">
            <div class="cards">
                <img src="/img/cargo.jpg">
            </div>
            <!--cards-->

            <div class="cards">
                <img src="/img/colar.jpg">
            </div>
            <!--cards-->
        </div>
        <!--Container-card-1-->

        <section class="cta">
            <div class="text-cta">
                <h6>OUTONO A VENDA</h6>
                <h4>20% OFF<br>NOVAS CHEGADAS</h4>
                <a href="/compra/compra.html" class="btn">Compre agora</a>
            </div>
            <!--text-cta-->
        </section>
        <!--cta-->

        <section>
            <h1>ESTOQUE NOVOS</h1>
            <div class="Container-roupas">
                <div class="roupa">
                    <a href="/produto"><img src="/img/blusaanti.jpg" alt=""></a>
                    <p>Blusa ANTI-SOCIAL</p>
                    <h5>R$99,90</h5>
                </div>
                <!--roupa-->


                <div class="roupa">
                    <a href="/produto/produto.html"><img src="img/cargo1.jpg" alt=""></a>
                    <p>Calça Cargo</p>
                    <h5>R$79,99</h5>
                </div>
                <!--roupa-->

                <div class="roupa">
                    <a href="/produto/produto.html"><img src="img/brinco1.jpg" alt=""></a>
                    <p>Brinco Pena</p>
                    <h5>R$39,99</h5>
                </div>
                <!--roupa-->

                <div class="roupa">
                    <a href="/produto/produto.html"><img src="img/colar1.jpg" alt=""></a>
                    <p>Colar Coração</p>
                    <h5>R$68,90</h5>
                </div>
                <!--roupa-->
            </div>
            <!--container-roupas-->
        </section>

        <div class="Marcas">
            <img src="img/anti.jpg" alt="Marca">
            <img src="img/compton.jpg" alt="Marca">
            <img src="img/stussy.jpg" alt="Marca">
            <img src="img/supreme.jpg" alt="Marca">
            <img src="img/nikelogo.jpg" alt="Marca">
            <img src="img/jordanlogo.jpg" alt="Marca">
        </div>
        <!--Marcas-->

        <footer class="Contato" id="Contato">
            <div class="meio-contato">
                <h3>Dream Street</h3>
                <h5>Nós envie uma mensagem</h5>
                <div class="icons">
                    <a href="#"><i class='bx bxl-facebook-square'></i></a>
                    <a href="#"><i class='bx bxl-instagram-alt'></i></a>
                    <a href="#"><i class='bx bxl-twitter'></i></a>
                </div>
            </div>

            <div class="meio-contato">
                <h3>Explorar</h3>
                <li><a href="#Lar">Lar</a></li>
                <li><a href="#featured">Destaque</a></li>
                <li><a href="#Novo">Novo</a></li>
                <li><a href="#Contato">Contato</a></li>
            </div>

            <div class="meio-contato">
                <h3>Nossos ssss Serviços</h3>
                <li><a href="/Dream Stret/Ecommerce/Website ecommerce - agora/index.html">Preços</a></li>
                <li><a href="#">Frete Grátis</a></li>
                <li><a href="#">Cartões-presente</a></li>
            </div>

            <div class="meio-contato">
                <h3>Compras</h3>
                <li><a href="#">Loja de Roupas</a></li>
                <li><a href="#">Camisas em altas</a></li>
                <li><a href="#">Acessórioss</a></li>
                <li><a href="#">Venda</a></li>
            </div>

        </footer>

        <div class="last-text">
            <p>Copyright © 2022 All rights reserved | This template is made with by Tahmid Ahmed</p>
        </div>





        <script src="https://unpkg.com/scrollreveal"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>