<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream Street</title>
    <link rel="stylesheet" href="/css/produto.css">
</head>

<body>

    <header>
        <div class="logo">
            <img src="/img/Dreamlogo.png" alt="Logo da Loja">
        </div>
        <!--logo-->

        <div class="cabeçalho-link">
            <li>
                <a href="/index.html">Inicio</a>
            </li>
            <li>
                <a href="#">Destaque</a>
            </li>
            <li>
                <a href="#">Novo</a>
            </li>
            <li>
                <a href="#">Contato</a>
            </li>
        </div>
        <!--cabeçalho-link-->
        <!--icon-->
        <div class="icon">
            <a href="/carrinho de compra/carrinho.html"><span>
                    <ion-icon name="bag-outline"></ion-icon>
                </span></a>
        </div>
        <div class="icon2">
            <a href="/login"><span>
                    <ion-icon name="person-circle-outline"></ion-icon>
                </span></a>
        </div>
    </header>

    <main>
        <section>
            <div class="container">
                <div class="left-side">
                    <div class="items">
                        <div class="select-img">
                            <img src="/img/cargo1.jpg" alt="">
                        </div>
                        <div class="images">
                            <div class="image">
                                <img src="/img/cargo1.jpg" alt="">
                            </div>
                            <div class="image">
                                <img src="/img/cargo1.jpg" alt="">
                            </div>
                            <div class="image">
                                <img src="/img/cargo1.jpg" alt="">
                            </div>
                            <div class="image">
                                <img src="/img/cargo1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="right-side">
                    <h6>Dream Street</h6>
                    <h1>Calça Cargo Moderna</h1>
                    <h4> Descrição<p>Calça cargo</p>
                    </h4>
                    <h4> Tamanho<p>G</p>
                    </h4>
                    <h4> Cor<p>Preta</p>
                    </h4>
                    <span class="preco">R$400</span>
                    <span class="desconto">R$250</span>
                    <div class="opcoes">
                        <div class="qty">
                            <button>
                                <ion-icon name="remove-outline"></ion-icon>
                            </button>
                            <span>0</span>
                            <button>
                                <ion-icon name="add-outline"></ion-icon>
                            </button>
                        </div>
                        <a class="link" href="/carrinho de compra/carrinho.html"><button class="cart">Adiciona ao
                                carrinho </button></a>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="Contato" id="Contato">
        <div class="meio-contato">
            <h3>Dream Street</h3>
            <h5>Nós envie uma mensagem</h5>
            <div class="icons">
                <a href="#"><i class='bx bxl-facebook-square'></i></a>
                <a href="#"><i class='bx bxl-instagram-alt'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
            </div>
        </div>

        <div class="meio-contato">
            <h3>Explorar</h3>
            <li><a href="#Lar">Lar</a></li>
            <li><a href="#featured">Destaque</a></li>
            <li><a href="#Novo">Novo</a></li>
            <li><a href="#Contato">Contato</a></li>
        </div>

        <div class="meio-contato">
            <h3>Nossos Serviços</h3>
            <li><a href="/Dream Stret/Ecommerce/Website ecommerce - agora/index.html">Pricing</a></li>
            <li><a href="#">Frete Grátis</a></li>
            <li><a href="#">Cartões-presente</a></li>
        </div>

        <div class="meio-contato">
            <h3>Compras</h3>
            <li><a href="#">Loja de Roupas</a></li>
            <li><a href="#">Camisas em altas</a></li>
            <li><a href="#">Acessórioss</a></li>
            <li><a href="#">Venda</a></li>
        </div>

    </footer>

    <div class="last-text">
        <p>Copyright © 2022 All rights reserved | This template is made with by Tahmid Ahmed</p>
    </div>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="js/script.js"></script>


</body>

</html>